extends layout

block content
  .row
    .col-xs-12
      a(href="/activate", id="activate", class="btn btn-lg btn-danger btn-block") Activate
  .row
    .col-xs-12.col-md-3
      a(href="/config", id="toggle_twitter", class="btn btn-lg btn-#{twitter_button} btn-block config-toggle", data-param="twitter") Twitter
    .col-xs-12.col-md-3
      a(href="/config", id="toggle_eyes", class="btn btn-lg btn-#{eyes_button} btn-block config-toggle", data-param="eyes") Eyes
    .col-xs-12.col-md-3
      a(href="/config", id="toggle_audio", class="btn btn-lg btn-#{audio_button} btn-block config-toggle", data-param="audio") Audio
    .col-xs-12.col-md-3
      a(href="/config", id="toggle_flame", class="btn btn-lg btn-#{flame_button} btn-block config-toggle", data-param="flame") Flame
