doctype 5
html
  head
    title Kla's Fire Pumpkin
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    nav(class="navbar navbar-default navbar-fixed-top navbar-inverse", role="navigation")
        .navbar-header
            a(class="navbar-brand", href="/admin") Kla's Fire Pumpkin
    .container
        block content

    script(src="/components/jquery/jquery.min.js")
    script(src="/components/bootstrap/dist/js/bootstrap.min.js")
    script(src="/js/site.js")
